interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Quantum/locations/westus/offerings?api-version=2023-11-13-preview
  response:
    body:
      string: "{\"value\":[{\"id\":\"azure-quantum-qc\",\"name\":\"Azure Quantum Computing\",\"properties\":{\"description\":\"Azure
        quantum computing resources.\",\"providerType\":\"qe\",\"company\":\"Microsoft\",\"managedApplication\":{\"publisherId\":\"N/A\",\"offerId\":\"N/A\"},\"targets\":[{\"id\":\"azure-quantum.qpu.m1\",\"name\":\"azure-quantum.qpu.m1\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]},{\"id\":\"azure-quantum.qpu.m2\",\"name\":\"azure-quantum.qpu.m2\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]},{\"id\":\"azure-quantum.qpu.test1\",\"name\":\"azure-quantum.qpu.test1\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]},{\"id\":\"azure-quantum.qpu.test2\",\"name\":\"azure-quantum.qpu.test2\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]},{\"id\":\"azure-quantum.qpu.test3\",\"name\":\"azure-quantum.qpu.test\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]},{\"id\":\"azure-quantum.qpu.test4\",\"name\":\"azure-quantum.qpu.test4\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]},{\"id\":\"azure-quantum.qpu.test5\",\"name\":\"azure-quantum.qpu.test5\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]},{\"id\":\"azure-quantum.qpu.test6\",\"name\":\"azure-quantum.qpu.test6\",\"acceptedDataFormats\":[\"microsoft.qir.v1\",\"qir.v1\"]}],\"skus\":[{\"id\":\"Basic\",\"version\":\"1.0\",\"name\":\"Internal
        Testing\",\"description\":\"Private preview access for Azure Quantum hardware.\",\"autoAdd\":false,\"targets\":[\"azure-quantum.qpu.m1\",\"azure-quantum.qpu.m2\",\"azure-quantum.qpu.test1\",\"azure-quantum.qpu.test2\",\"azure-quantum.qpu.test3\",\"azure-quantum.qpu.test4\",\"azure-quantum.qpu.test5\",\"azure-quantum.qpu.test6\"],\"pricingDetails\":[{\"id\":\"feature\",\"value\":\"No
        prices, just space reservation.\"}]}],\"pricingDimensions\":[{\"id\":\"feature\",\"name\":\"Features\"}]}},{\"id\":\"ionq\",\"name\":\"IonQ\",\"properties\":{\"description\":\"IonQ\u2019s
        trapped ion quantum computers perform calculations by manipulating charged
        atoms of Ytterbium held in a vacuum with lasers.\",\"providerType\":\"qe\",\"company\":\"IonQ\",\"managedApplication\":{\"publisherId\":\"ionqinc1582730893633\",\"offerId\":\"ionq-aq\"},\"targets\":[{\"id\":\"ionq.simulator\",\"name\":\"Trapped
        Ion Quantum Computer Simulator\",\"description\":\"GPU-accelerated idealized
        simulator supporting up to 29 qubits, using the same gates IonQ provides on
        its quantum computers. No errors are modeled at present.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]},{\"id\":\"ionq.qpu.aria-1\",\"name\":\"Aria
        1\",\"description\":\"IonQ's Aria 1 quantum computer is dynamically reconfigurable
        in software to use up to 25 qubits. All qubits are fully connected, meaning
        you can run a two-qubit gate between any pair.\",\"acceptedDataFormats\":[\"ionq.circuit.v1\",\"ionq.qir.v1\"],\"acceptedContentEncodings\":[\"identity\"]},{\"id\":\"ionq.qpu.aria-2\",\"name\":\"Aria
        2\",\"description\":\"IonQ's Aria 2 quantum compu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/rigetticoinc1644276861431/offers/rigetti-aq/plans/azure-quantum-credits/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/VirtualMachine/publishers/rigetticoinc1644276861431/offers/rigetti-aq/plans/azure-quantum-credits/agreements/current","name":"azure-quantum-credits","type":"Microsoft.MarketplaceOrdering/offertypes","properties":{"publisher":"rigetticoinc1644276861431","product":"rigetti-aq","plan":"azure-quantum-credits","licenseTextLink":"https://storeordersprodsn.blob.core.windows.net/legalterms/3E5ED_legalterms_RIGETTICOINC1644276861431%253a24RIGETTI%253a2DAQ%253a24AZURE%253a2DQUANTUM%253a2DCREDITS%253a24OVHBY2OOJTPQLL57Y6RKGYOKBGSXRSGZIJWTMBIVS2NOTHUSSHDKKG74CB67KGNC6YTDCSMPYRAS65R6VUK4CKUBOM65RQGSXQSQMXY.txt","privacyPolicyLink":"https://www.rigetti.com/privacy-policy","marketplaceTermsLink":"https://storeordersprodsn.blob.core.windows.net/marketplaceterms/3EDEF_marketplaceterms_AZUREAPPLICATION%253a24OF7TIMHFEMPZHRBYEO3SVLC7Q2MPXXAASJ5BO2FUY4UC6EZCN5TIL2KIGTA7WI2CSM3WV4L7QMPNRYPE2I7BOCM34RGOL3XTC6ADIMI.txt","retrieveDatetime":"2025-03-10T02:08:35.8065581Z","signature":"23J7IBLGGVZZSOEQGUFTBZ5M2VNDOCMR3CIFPNKMTEHVEAV2C5FJI7GDAWV47L52JKM3XGEI72JSF7BWPORO7SR326KK6TEDTUSD7GA","accepted":true},"systemData":{"createdBy":"677fc922-91d0-4bf6-9b06-4274d319a0fa","createdByType":"ManagedIdentity","createdAt":"2025-03-10T02:08:35.8846689+00:00","lastModifiedBy":"677fc922-91d0-4bf6-9b06-4274d319a0fa","lastModifiedByType":"ManagedIdentity","lastModifiedAt":"2025-03-10T02:08:35.8846689+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/ionqinc1582730893633/offers/ionq-aq/plans/aq-internal-testing/agreements/current?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MarketplaceOrdering/offerTypes/VirtualMachine/publishers/io[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Storage/storageAccounts?api-version=2023-05-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Storage/storageAccounts/e2eqsharptests","name":"e2eqsharptests","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"keyCreationTime":{"key1":"2025-03-09T20:04:27.7613365Z","key2":"2025-03-09T20:04:30.9957530Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"resourceAccessRules":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/datascanners/storageDataScanner"}],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-01-31T00:37:08.2395289Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-01-31T00:37:08.2395289Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2025-01-31T00:37:08.1145280Z","primaryEndpoints":{"blob":"https://e2eqsharptests.blob.core.windows.net/","queue":"https://e2eqsharptests.queue.core.windows.net/","table":"https://e2eqsharptests.table.core.windows.net/","file":"https://e2eqsharptests.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Storage/storageAccounts/e2eqsharptestsgrs","name":"e2eqsharptestsgrs","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"keyCreationTime":{"key1":"2025-01-31T01:25:54.5294979Z","key2":"2025-01-31T01:25:54.5294979Z"},"allowCrossTenantReplication":false,"privateEndpointConnection[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"quantumWorkspaceName": {"type":
      "string", "metadata": {"description": "Quantum Workspace Name"}}, "location":
      {"type": "string", "metadata": {"description": "Workspace Location"}}, "tags":
      {"type": "object", "defaultValue": {}, "metadata": {"description": "Tags for
      this workspace"}}, "providers": {"type": "array", "metadata": {"description":
      "A list of Providers for this workspace"}}, "storageAccountName": {"type": "string",
      "metadata": {"description": "Storage account short name"}}, "storageAccountId":
      {"type": "string", "metadata": {"description": "Storage account ID (path)"}},
      "storageAccountLocation": {"type": "string", "metadata": {"description": "Storage
      account location"}}, "storageAccountSku": {"type": "string", "metadata": {"description":
      "Storage account SKU"}}, "storageAccountKind": {"type": "string", "metadata":
      {"description": "Kind of storage account"}}, "storageAccountDeploymentName":
      {"type": "string", "metadata": {"description": "Deployment name for role assignment
      operation"}}}, "functions": [], "variables": {}, "resources": [{"type": "Microsoft.Quantum/workspaces",
      "apiVersion": "2019-11-04-preview", "name": "[parameters(''quantumWorkspaceName'')]",
      "location": "[parameters(''location'')]", "tags": "[parameters(''tags'')]",
      "identity": {"type": "SystemAssigned"}, "properties": {"providers": "[parameters(''providers'')]",
      "storageAccount": "[parameters(''storageAccountId'')]"}}, {"apiVersion": "2019-10-01",
      "name": "[parameters(''storageAccountDeploymentName'')]", "type": "Microsoft.Resources/deployments",
      "dependsOn": ["[resourceId(''Microsoft.Quantum/Workspaces'', parameters(''quantumWorkspaceName''))]"],
      "properties": {"mode": "Incremental", "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "resources": [{"apiVersion": "2019-06-01", "name":
      "[parameters(''storageAccountName'')]", "location": "[parameters(''storageAccountLocation'')]",
      "type": "Microsoft.Storage/storageAccounts", "sku": {"name": "[parameters(''storageAccountSku'')]"},
      "kind": "[parameters(''storageAccountKind'')]", "resources": [{"name": "default",
      "type": "fileServices", "apiVersion": "2019-06-01", "dependsOn": ["[parameters(''storageAccountId'')]"],
      "properties": {"cors": {"corsRules": [{"allowedOrigins": ["*"], "allowedHeaders":
      ["*"], "allowedMethods": ["GET", "HEAD", "OPTIONS", "POST", "PUT"], "exposedHeaders":
      ["*"], "maxAgeInSeconds": 180}]}}}]}, {"apiVersion": "2020-04-01-preview", "name":
      "[concat(parameters(''storageAccountName''), ''/Microsoft.Authorization/'',
      guid(reference(concat(''Microsoft.Quantum/Workspaces/'', parameters(''quantumWorkspaceName'')),
      ''2019-11-04-preview'', ''Full'').identity.principalId))]", "type": "Microsoft.Storage/storageAccounts/providers/roleAssignments",
      "location": "[parameters(''storageAccountLocation'')]", "properties": {"roleDefinitionId":
      "[resourceId(''Microsoft.Authorization/roleDefinitions'', ''17d1049b-9a84-46fb-8f53-869881c3d3ab'')]",
      "principalId": "[reference(concat(''Microsoft.Quantum/Workspaces/'', parameters(''quantumWorkspaceName'')),
      ''2019-11-04-preview'', ''Full'').identity.principalId]", "principalType": "ServicePrincipal"},
      "dependsOn": ["[parameters(''storageAccountId'')]"]}]}}}], "outputs": {}}, "parameters":
      {"quantumWorkspaceName": {"value": "e2e-test-w1756970"}, "location": {"value":
      "westus"}, "tags": {"value": {}}, "providers": {"value": [{"providerId": "rigetti",
      "providerSku": "azure-quantum-credits"}, {"providerId": "ionq", "providerSku":
      "aq-internal-testing"}]}, "storageAccountName": {"value": "e2eqsharptests"},
      "storageAccountId": {"value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Storage/storageAccounts/e2eqsharptests"},
      "storageAccountLocation": {"value": "westus"}, "storageAccountSku": {"value":
      "Standard_LRS"}, "storageAccountKind": {"value": "Storage"}, "storageAccountDeploymentName":
      {"value": "Microsoft.StorageAccount-10-Mar-2025-02-08-39"}}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/v-warrjones/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Resources/deployments/Microsoft.AzureQuantum-e2e-test-w1756970","name":"Microsoft.AzureQuantum-e2e-test-w1756970","type":"Microsoft.Resources/deployments","properties":{"templateHash":"8780732195960594757","parameters":{"quantumWorkspaceName":{"type":"String","value":"e2e-test-w1756970"},"location":{"type":"String","value":"westus"},"tags":{"type":"Object","value":{}},"providers":{"type":"Array","value":[{"providerId":"rigetti","providerSku":"azure-quantum-credits"},{"providerId":"ionq","providerSku":"aq-internal-testing"}]},"storageAccountName":{"type":"String","value":"e2eqsharptests"},"storageAccountId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Storage/storageAccounts/e2eqsharptests"},"storageAccountLocation":{"type":"String","value":"westus"},"storageAccountSku":{"type":"String","value":"Standard_LRS"},"storageAccountKind":{"type":"String","value":"Storage"},"storageAccountDeploymentName":{"type":"String","value":"Microsoft.StorageAccount-10-Mar-2025-02-08-39"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2025-03-10T02:08:40.4167007Z","duration":"PT1.2039605S","correlationId":"8d7b7489-b462-4782-87d7-6a910288877f","providers":[{"namespace":"Microsoft.Quantum","resourceTypes":[{"resourceType":"workspaces","locations":["westus"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quantum/Workspaces/e2e-test-w1756970","resourceType":"Microsoft.Quantum/Workspaces","resourceName":"e2e-test-w1756970"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quantum/workspaces/e2e-test-w1756970","resourceType":"Microsoft.Quantum/workspaces","resourceName":"e2e-test-w1756970","apiVersion":"2019-11-04-preview"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Resources/deployments/Microsoft.StorageAccount-10-Mar-2025-02-08-39","resourceType":"Microsoft.Resources/deployments","resourceName":"Microsoft.StorageAccount-10-Mar-2025-02-08-39"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/v-warrjones/providers/Microsoft.Resources/deployments/Microsoft.AzureQuantum-e2e-test-w1756970/operationStatuses/08584600343650497119?api-version=2022-09-01&t=638771693219010900&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/v-warrjones/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584600343650497119?api-version=2022-09-01&t=638771693219010900&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quantum/workspaces/e2e-test-w1756970?api-version=2023-11-13-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quantum/workspaces/e2e-test-w1756970","name":"e2e-test-w1756970","type":"microsoft.quantum/workspaces","location":"westus","tags":{},"systemData":{"createdBy":"v-warrjones@microsoft.com","createdByType":"User","createdAt":"2025-03-10T02:08:43.5240144Z","lastModifiedBy":"v-warrjones@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-03-10T02:08:43.5240144Z"},"identity":{"principalId":"5cfe39d4-89fa-4500-be57-69922e4e1f53","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"providers":[{"providerId":"rigetti","providerSku":"azure-quantum-credits","applicationName":"e2e-test-w1756970-rigetti","provisioningState":"Succeeded","resourceUsageId":"41085c48-3c18-4949-99cc-bf800c0afdf1"},{"providerId":"ionq","providerSku":"aq-internal-testing","applicationName":"e2e-test-w1756970-ionq","provisioningState":"Succeeded","resourceUsageId":"7bc3a975-6cf8-4e9a-b843-afbe9341d689"}],"provisioningState":"Succeeded","usable":"Yes","storageAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Storage/storageAccounts/e2eqsharptests","apiKeyEnabled":false,"endpointUri":"https://e2e-test-w1756970.westus.quantum.azure.com"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"8c037d85-0000-0700-0000-67ce4a740000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quantum/workspaces/e2e-test-w1756970/providerStatus?api-version=2024-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"rigetti","currentAvailability":"Available","targets":[{"id":"rigetti.sim.qvm","currentAvailability":"Available","averageQueueTime":5,"statusPage":"https://rigetti.statuspage.io/"},{"id":"rigetti.qpu.ankaa-3","currentAvailability":"Available","averageQueueTime":5,"statusPage":"https://rigetti.statuspage.io/"}]},{"id":"ionq","currentAvailability":"Available","targets":[{"id":"ionq.qpu.aria-1","currentAvailability":"Available","averageQueueTime":0,"statusPage":"https://status.ionq.co"},{"id":"ionq.qpu.aria-2","currentAvailability":"Unavailable","averageQueueTime":0,"statusPage":"https://status.ionq.co"},{"id":"ionq.simulator","currentAvailability":"Available","averageQueueTime":1,"statusPage":"https://status.ionq.co"}]}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 93523bdb-eed9-4958-8f16-e23a81ccd5a4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Storage/storageAccounts/e2eqsharptests/listKeys?api-version=2023-05-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-03-09T20:04:27.7613365Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-03-09T20:04:30.9957530Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Storage/storageAccounts/e2eqsharptests?api-version=2023-05-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Storage/storageAccounts/e2eqsharptests"[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 10 Mar 2025 02:12:49 GMT
      x-ms-version:
      - '2024-11-04'
    method: GET
    uri: https://e2eqsharptests.blob.core.windows.net/quantum-job-85b1e0dd-99eb-4ca3-9ee3-f7506a71261a?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:19549e8b-701e-0061-4f61-91abad000000\nTime:2025-03-10T02:12:47.8091686Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ContainerNotFound
      x-ms-version:
      - '2024-11-04'
    status:
      code: 404
      message: The specified container does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 10 Mar 2025 02:12:49 GMT
      x-ms-version:
      - '2024-11-04'
    method: PUT
    uri: https://e2eqsharptests.blob.core.windows.net/quantum-job-85b1e0dd-99eb-4ca3-9ee3-f7506a71261a?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD5F790D80C2CE"'
      last-modified:
      - Mon, 10 Mar 2025 02:12:47 GMT
      x-ms-version:
      - '2024-11-04'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 10 Mar 2025 02:12:49 GMT
      x-ms-version:
      - '2024-11-04'
    method: GET
    uri: https://e2eqsharptests.blob.core.windows.net/quantum-job-85b1e0dd-99eb-4ca3-9ee3-f7506a71261a?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD5F790D80C2CE"'
      last-modified:
      - Mon, 10 Mar 2025 02:12:47 GMT
      x-ms-default-encryption-scope:
      - $account-encryption-key
      x-ms-deny-encryption-scope-override:
      - 'false'
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-immutable-storage-with-versioning-enabled:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2024-11-04'
    status:
      code: 200
      message: OK
- request:
    body: "DECLARE ro BIT[2]\r\n\r\nH 0\r\nCNOT 0 1\r\n\r\nMEASURE 0 ro[0]\r\nMEASURE
      1 ro[1]"
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Mon, 10 Mar 2025 02:12:49 GMT
      x-ms-version:
      - '2024-11-04'
    method: PUT
    uri: https://e2eqsharptests.blob.core.windows.net/quantum-job-85b1e0dd-99eb-4ca3-9ee3-f7506a71261a/inputData
  response:
    body:
      string: ''
    headers:
      content-md5:
      - wBue1+6CQmWpgL5BeUu42Q==
      etag:
      - '"0x8DD5F790D91E0ED"'
      last-modified:
      - Mon, 10 Mar 2025 02:12:47 GMT
      x-ms-content-crc64:
      - csHCMZWsMR0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2024-11-04'
    status:
      code: 201
      message: Created
- request:
    body: '{"name": null, "containerUri": "https://e2eqsharptests.blob.core.windows.net/quantum-job-85b1e0dd-99eb-4ca3-9ee3-f7506a71261a",
      "inputDataFormat": "rigetti.quil.v1", "outputDataFormat": "rigetti.quil-results.v1",
      "inputParams": {}, "providerId": "rigetti", "target": "rigetti.sim.qvm", "metadata":
      null, "tags": []}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://westus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quantum/workspaces/e2e-test-w1756970/jobs/85b1e0dd-99eb-4ca3-9ee3-f7506a71261a?api-version=2024-10-01-preview
  response:
    body:
      string: '{"containerUri":"https://e2eqsharptests.blob.core.windows.net/quantum-job-85b1e0dd-99eb-4ca3-9ee3-f7506a71261a","inputDataUri":"https://e2eqsharptests.blob.core.windows.net:443/quantum-job-85b1e0dd-99eb-4ca3-9ee3-f7506a71261a/inputData","inputDataFormat":"rigetti.quil.v1","inputParams":{},"metadata":null,"sessionId":null,"status":"Waiting","jobType":"QuantumComputing","outputDataFormat":"rigetti.quil-results.v1","outputDataUri":"https://e2eqsharptests.blob.core.windows.net:443/quantum-job-85b1e0dd-99eb-4ca3-9ee3-f7506a71261a/outputData","beginExecutionTime":null,"cancellationTime":null,"quantumComputingData":null,"errorData":null,"isCancelling":false,"tags":[],"name":null,"id":"85b1e0dd-99eb-4ca3-9ee3-f7506a71261a","providerId":"rigetti","target":"rigetti.sim.qvm","creationTime":"2025-03-10T02:12:49.0998871+00:00","endExecutionTime":null,"costEstimate":null,"itemType":"Job"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 507b51d0-f25e-4aa1-be70-bdfa11443ad8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/v-warrjones/providers/Microsoft.Quantum/workspaces/e2e-test-w1756970/jobs/85b1e0dd-99eb-4ca3-9ee3-f7506a71261a?api-version=2024-10-01-preview
  response:
    body:
      string: '{"containerUri":"https://e2eqsharptests.blob.core.windows.net/quantum-job-85b1e0dd-99eb-4ca3-9ee3-f7506a71261a?sv=2024-11-04&st=2025-03-10T02%3A12%3A49Z&se=20[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 10 Mar 2025 02:12:58 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://e2eqsharptests.blob.core.windows.net/quantum-job-85b1e0dd-99eb-4ca3-9ee3-f7506a71261a/rawOutputData?sv=2024-11-04&st=2025-03-10T02%3A12%3A56Z&se=2025-03-14T02%3A12%3A56Z&sr=b&sp=r&rscd=attachment%3B+filename%3Djob-85b1e0dd-99eb-4ca3-9ee3-f7506a71261a.output.json&sig=REDACTED
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - attachment; filename=job-85b1e0dd-99eb-4ca3-9ee3-f7506a71261a.output.json
      content-md5:
      - LJF0OvtMvz9rHxUkWtrOTA==
      content-type:
      - application/json
      etag:
      - '"0x8DD5F79104C93D1"'
      last-modified:
      - Mon, 10 Mar 2025 02:12:52 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 10 Mar 2025 02:12:49 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 10 Mar 2025 02:12:58 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://e2eqsharptests.blob.core.windows.net/quantum-job-85b1e0dd-99eb-4ca3-9ee3-f7506a71261a/rawOutputData?sv=2024-11-04&st=2025-03-10T02%3A12%3A56Z&se=2025-03-14T02%3A12%3A56Z&sr=b&sp=r&rscd=attachment%3B+filename%3Djob-85b1e0dd-99eb-4ca3-9ee3-f7506a71261a.output.json&sig=REDACTED
  response:
    body:
      string: '{"ro":[[0,0]]}'
    headers:
      content-disposition:
      - attachment; filename=job-85b1e0dd-99eb-4ca3-9ee3-f7506a71261a.output.json
      content-range:
      - bytes 0-13/14
      content-type:
      - application/json
      etag:
      - '"0x8DD5F79104C93D1"'
      last-modified:
      - Mon, 10 Mar 2025 02:12:52 GMT
      x-ms-blob-content-md5:
      - LJF0OvtMvz9rHxUkWtrOTA==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 10 Mar 2025 02:12:49 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: '{"gateset": "qis", "qubits": 3, "circuit": [{"gate": "h", "targets": [0]},
      {"gate": "x", "targets": [1], "controls": [0]}, {"gate": "x", "targets": [2],
      "controls": [1]}]}'
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-content-type:
      - application/json
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Mon, 10 Mar 2025 02:12:59 GMT
      x-ms-version:
      - '2024-11-04'
    method: PUT
    uri: https://e2eqsharptests.blob.core.windows.net/quantum-job-10f3d063-3884-4326-b277-636d041976d0/inputData
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 3+pg2wKa9x2rK+IB+BmzGA==
      etag:
      - '"0x8DD5F7913B2F33D"'
      last-modified:
      - Mon, 10 Mar 2025 02:12:58 GMT
      x-ms-content-crc64:
      - VPUiKdL2pXs=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2024-11-04'
    status:
      code: 201
      message: Created
- request:
    body: '{"name": null, "containerUri": "https://e2eqsharptests.blob.core.windows.net/quantum-job-10f3d063-3884-4326-b277-636d041976d0",
[...]
